*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yuji Mai", serif;
}
body{
color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
   z-index: 100%;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #f1f1ed;
    text-decoration: none;
    font-weight:600;
}
.logo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #7a5eec;
    animation: showRigth 1s ease forwards;
    animation-delay: .4s;
}
.navbar a{
    font-size: 18px;
    color: #e2fa79;
    text-decoration: none;
    font-weight: 500;
    margin-left: 38px;
    transition: .3s;
}
.navbar a:hover{
color: #b542e2;
} 
.home{
    height: 100vh;
    background: url("imagenes/fondoo3.png")no-repeat;
    background-size: cover;
    background-position: center;
   display: flex; 
   align-items: center;
   padding: 0 10%;
}
.home-conect{
    max-width: 600px;
}
.home-conect h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #150849;
}
.home-conect h1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:#7a5eec ;
    animation: showRigth 1s ease forwards;
    animation-delay: 0.5s;
}
.home-conect h3{
    font-size: 31px;
    font-weight: 700;
    color: #2b1970;
}
.home-conect p{
    font-size: 19px;
    margin: 20px 0 40px;
    color: #12073a;
}
.home-conect p::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:#7a5eec ;
    animation: showRigth 1s ease forwards;
    animation-delay: .1s;
}

.home-conect .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
} 
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #4c74f0;
    border: 2px solid #2c90d8;
    border-radius: 8px;
    font-size: 20px;
    color: #12073a;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2){
    background: transparente;
    color: #67b0e4;
}
.btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2b1970;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.home-sci a {
    position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;
   border: 2px solid #3388c4;
   border-radius: 50%;
   font-size: 20px;
   color: #23618d;
   text-decoration: none;
   z-index: 1;
   overflow: hidden;
   transition: .5s;
}
.home-sci a:hover{
    color: #2b1970;
}
.home-sci a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #1a0b57;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}
/*KEYFRAMES ANIMATION*/
@keyframes showRigth{
    100%{
        width: 0;
    }
}
@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}
.home-imghover{
position: absolute;
top: 60px;
right: 30px;
width: 500px;
height: 100%;
background: transparent;
transition: .3s;
}
.home-imghover:hover{
    background: #2c90d8;
    opacity: .5 ;
}